.about-page {
  padding: 0 2%;

  .about-container {
    .contact-info-container {
      display: flex;
      font-size: larger;

      .email-wrapper {
        margin-right: 5%;

        a {
          padding-bottom: 1.2%;
          border-bottom: 2px solid;
          @include hover-button-effect;
        }
      }

      .location-wrapper {
        p {
          margin: 0;
        }
      }
    }

    .about-me {
      display: flex;
      flex-direction: column;
      margin-top: 1%;

      p {
        font-size: larger;
      }
    }
  }
}
