.github-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5%;

  .eyes {
    font-size: 37px;
    h1 {
      margin: 0;
    }
  }

  .notice-title {
    font-size: 27px;

    h1 {
      margin-bottom: 17%;
    }
  }

  .githubs-container {
    display: grid;
    width: 67%;
    grid-template-columns: repeat(2, 50%);

    .github-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0.7;
        transition: all 0.27s ease-in-out;

        .github-border-wrapper {
          text-align: center;
          border-bottom: 2px solid;
          width: auto;
          .github-logo {
            svg {
              height: 177px;
            }
          }
        }

        .github-about {
          text-align: center;
          width: 82%;

          p {
            opacity: 0.07;
          }
        }

        &:hover {
          opacity: 1;
          transition: all 0.27s ease-in-out;

          .github-border-wrapper {
            transition: all 0.27s ease-in-out;
            border-bottom: 2px solid $selected-anchor-color;
          }

          .github-about {
            p {
              transition: all 0.27s ease-in-out;
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
