.landing-page {
  .projects-container {
    display: flex;
    margin-bottom: 17px;
    justify-content: space-evenly;
  }

  .certificates-container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
  }
}
