@font-face {
  font-family: "Hapna Slab Medium";
  src: url("../../fonts/hapna_slab_medium.ttf");
}

@font-face {
  font-family: "Hapna Slab DemiBold";
  src: url("../../fonts/hapna_slab_serif_demibold.ttf");
}

$anchor-color: #d92020;
$primary-text-color: #e2e2e2;
$background-color: #020202;
