@media (max-width: 768px) {
  .header {
    overflow: hidden;
    height: 100%;

    .hamburger-control {
      margin-bottom: 5%;

      .animated-icon {
        width: 30px;
        height: 20px;
        position: relative;
        margin: 0px;
        transform: rotate(0deg);
        transition: 0.5s ease-in-out;
        cursor: pointer;

        span {
          display: block;
          position: absolute;
          height: 3px;
          width: 100%;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          transform: rotate(0deg);
          transition: 0.3s ease-in-out;
          background: $selected-anchor-color;
        }

        span:nth-child(1) {
          top: 0px;
        }

        span:nth-child(2) {
          top: 10px;
        }

        span:nth-child(3) {
          top: 20px;
        }
      }

      .open {
        span:nth-child(1) {
          top: 11px;
          transform: rotate(135deg);
        }

        span:nth-child(2) {
          opacity: 0;
          left: -60px;
        }

        span:nth-child(3) {
          top: 11px;
          transform: rotate(-135deg);
        }
      }
    }

    .navigation {
      flex-direction: column;

      a,
      p {
        padding-bottom: 0;
      }

      .links-container {
        flex-direction: column;
        margin-top: 7px;

        div {
          margin-bottom: 7px;
        }
      }
    }
  }
}
