@media (max-width: 768px) {
  .landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;

    .projects-container {
      width: 100%;

      .projects-title {
        font-size: 20px;

        h1 {
          margin-top: 0;
        }
      }

      .carousel-container {
        .carousel-wrapper {
          .slides-wrapper {
            .carousel-slide-wrapper {
              justify-content: space-evenly;
              transition: transform 250ms ease-in-out;
            }
          }
        }

        .control-buttons-wrapper {
          margin: 1% 3%;

          button {
            width: 15%;
          }
        }
      }
    }

    .certificates-title {
      font-size: 20px;
    }

    .certificates-container {
      display: flex;
      flex-direction: column;
      opacity: 1;
      margin: 5% 0;
      overflow: scroll;

      .certificates-spacer {
        width: 1500px;
        gap: 40px;
      }
    }
  }
}

@media (max-width: 677px) {
  .landing-page {
    .projects-container {
      .projects-title {
        font-size: 25px;
      }

      .carousel-container {
        .carousel-wrapper {
        }

        .control-buttons-wrapper {
          button {
            width: 20%;
          }
        }
      }
    }

    .certificates-container {
      width: 100%;

      .certificates-spacer {
        width: 1200px;
      }
    }
  }
}
