.header {
  margin-bottom: 7px;
  padding: 7px 5%;

  .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-weight: 600;
    font-size: 22.7px;

    .active {
      border-bottom: 2px solid $selected-anchor-color;
    }

    a,
    p {
      margin: 0;
      padding-bottom: 7px;
      border-bottom: 2px solid transparent;

      &:hover {
        transition: border-bottom 0.2s linear;
        border-bottom: 2px solid $selected-anchor-color;
      }
    }

    .links-container {
      display: flex;
      justify-content: space-between;
      width: 77%;

      .header-option-wrapper {
        &.resumes {
          #show-resumes-button {
            cursor: pointer;
          }
        }
      }
    }
  }
}
