.project-wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
  border: 1px solid red;

  .project-name {
    h2 {
    }
  }

  .description {
    p {
    }
  }

  .accomplishments {
    p {
    }
  }

  .project-type {
    p {
    }
  }

  .company {
  }

  .hosted-link {
  }

  .github-repo-link {
  }
}
